body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
    color: #333;
    margin: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}
h6{
    font-size: 22px;
    color: #7e7e7e;
    margin: 0;
    padding: 0;
}
:root {
    --shadow-color: rgba(0, 0, 0, 0.178);
    --shadow-color2: rgba(0, 0, 0, 0.2);
    --BackColor: rgb(245, 245, 245);
    --BackColor-hover: white;
    --course-color: #333333;
    --course-color-hover: #333333;
    --stats-color: #1e1e1e;
    --stats-back-color: #5fa6f3;
    --stats-back-color-hover: #7ab3fc;
    --notes-back-color: #dddddd;
    --notes-back-color-hover:  #eaeaea;
    --table-color: #333333;
    --tr-color:rgb(235, 235, 235);
    --tr-title-color:rgb(205, 205, 205);
    --td-color:rgb(210, 235, 255);
  }
.notes-container{
    display: flex;
    flex-direction: column;
    max-height: 34px;
    border: 1px solid #bebebe;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
    margin: 7px 5px 7px 0px;
    font-size: small;
    overflow: auto;
    color: var(--course-color);
    background-color: var(--notes-back-color);
}
#courses-list{
    transition: transform 0.6s ease;
}
.container {
    max-width: 800px;
    margin: 50px  auto;
    padding: 45px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0px 10px var(--shadow-color);
    position: relative;
}
.time-info{
    width: 49%;
}
.time{
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}
h1 {
    text-align: center;
}
.add-course {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.add-course input {
    width: 300px;
    padding: 10px;
    border: 2px solid #adadad;
    border-radius: 4px;
    font-size: small;
}
.add-course button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #28a745;
    transition: transform 0.3s, background-color 0.3s ease;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}
.add-site {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.add-site input {
    width: 300px;
    padding: 10px;
    border: 2px solid #adadad;
    border-radius: 4px;
    font-size: small;
}
.add-site button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #28a745;
    transition: transform 0.3s, background-color 0.3s ease;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}
#add-site-btn{
    height: 40px;
    background-color: blueviolet;
}

.add-course button:hover {
    background-color:  #2ab54b;
    transform: scale(1.03);
}

.add-course button:active {
    transform: scale(1);
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    padding: 5px 10px 5px 15px;
    border: 1px solid #adadad;
    border-radius: 4px;
    background: var(--BackColor);
    color: var(--course-color);
    box-shadow: 0px 1px 4px var(--shadow-color2);
    transition: transform 0.3s;
}
.course:hover {
    background-color: var(--BackColor-hover);
    color: var(--course-color-hover);
    transform: scale3d(1.007, 1.012, 1.01);
    box-shadow: 0px 1px 4px var(--shadow-color2);
}
.course:hover .close-course{
    background:var(--BackColor-hover);
}
.course:hover .notes-container{
    background:var(--notes-back-color-hover);
    color:var(--course-color-hover);
}

.course h3 {
    margin: 6px 15px 4px 0px;
    max-width: 48%;
}

.course button:active {
    transform: scale(0.98);
}

.course .play-btn {
    padding: 8px 17px 8px 17px; ;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.course .stop-btn {
    padding: 8px 17px 8px 17px; ;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #dc3545;
    color: white;
    font-weight: bold;
}

.course .play-btn:hover {
    background-color: #3496ff;
    transform: scale(1.04);
}

.course .stop-btn:hover {
    background-color:  #fd4154;
    transform: scale(1.04);
}
.course .play-btn:active {
    transform: scale(1);
}

.course .stop-btn:active {
    transform: scale(1);
}

.total-time {
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}
.add-notes-btn{
    padding: 8px 15px 8px 15px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f8be0f;
    color: white;
    font-weight: bold;
}
.add-notes-btn:hover {
    background-color: #ffca2c;
    transform: scale(1.04);
}
.add-notes-btn:active {
    transform: scale(1);
}
.course div {
    position: relative;
}
#popupButton{
    margin: 15px;
    padding: 5px 12px 5px 12px;
    border: solid 1px #afafaf;
    font-size: medium;
    transition: transform 0.3s ease;
    background-color: #f1f1f1;
    /*color: white;*/
    border-radius: 5px;
    cursor: pointer;
}
#popupButton:hover {
    background-color: #d9d9d9;
    transform: scale(1.06);
}
#popupButton:active {
    transform: scale(1);
}
.course .time:hover + .percentage-popup {
    display: block;
}
.custom-alert {
    display: none;
    position: fixed;
    z-index: 1100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-alert-content {
    background-color: var(--BackColor);
    margin: 60px auto;
    padding: 0px 20px 20px 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
    border-radius: 8px;
    position: relative;

}
#timeChart{
    transform: scale(0.85);
}
td {
    padding: 10px 10px;
    font-size: 14x;
    border-radius: 3px;
}
table{
    font-size: 14x;
    color:var(--table-color);
}
table th {
    padding: 5px 5px 5px 0px;
    font-size: 14x;
}
.close-course{
    background: var(--BackColor);
    border: none;
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    padding: 1px 5px 0px 5px;
    top: 0px;
    transition: transform 0.35s ease;
}
.close-course:hover,
.close-course:focus {
    background-color: var(--BackColor-hover);
    color: var(--course-color-hover);
    text-decoration: none;
    cursor: pointer;
}
.close-course:active {
    color: rgb(27, 27, 27);
    text-decoration: none;
    transform: scale(0.95);
    cursor: pointer;
}
.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 18px;
    margin-right: 10px;
    top: 0px;
}

.close:hover,
.close:focus {
    color: var(--course-color-hover);
    text-decoration: none;
    cursor: pointer;
}
.statistics {
    color: var(--stats-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--stats-back-color);
    box-shadow: 0px 1px 4px var(--shadow-color2);
    padding: 10px 20px;
    margin: 15px 15px 15px 0px;
    transition: font-size 0.1s ease;
    border: none;
    border-radius: 4px;
}

.statistics:hover,
.statistics:focus {
    color: var(--stats-color);
    background-color: var(--stats-back-color-hover);
    font-size: 15.3px;
    text-decoration: none;
    cursor: pointer;
}
.statistics:active {
    color: var(--stats-color);
    background-color: var(--stats-back-color-hover);
    font-size: 14.9px;
    text-decoration: none;
    cursor: pointer;
}

#alertMessage {
    color: var(--course-color)
}
.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

.label{
    position: absolute;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid rgb(196, 196, 196);
    background-color: rgb(210, 210, 210);
    transform: translate(-20px, -15px);
    cursor: pointer;
}
.input{
    visibility: hidden;
}

.circle{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 2.5px;
    left: 2.5px;
    animation: toggleOff 0.3s linear forwards;
}
.input:checked + .label {
    background-color: rgb(202, 202, 202);
}
.input:checked + .label .circle{
    animation: toggleOn 0.3s linear forwards;
    background-color: rgb(30, 30, 30);
}
#link-mail{
    text-decoration: none;
    color:rgb(122, 122, 122);
    font-size:7px;
    position:absolute;
    bottom:15px;
    left:20px;
}
#link-mail:hover{
    color: #007bff;
}
@keyframes toggleOn{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(30px);
    }
}
@keyframes toggleOff{
    0%{
        transform: translate(30px);
    }
    100%{
        transform: translate(0);
    }
}
#menu-toggle {
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 22px;
    border-radius: 5px;
    background-color: rgb(217, 217, 217);
    cursor: pointer;
    border: solid 2.5px rgb(87, 87, 87);
}
#menu-toggle:hover {
    background-color: rgb(230, 228, 228);
}
#menu-toggle:active {
    background-color: rgb(219, 219, 219);
}
#tools{
    gap: 10px;
    display: none;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 20px;
    transform: scale(1, 0.3);
    transition: transform 0.6s, opacity 0.6s;
}
.logo{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sites-ref{
    height: 40px;
    padding: 15px 10px 20px 30px;
    gap: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px rgb(200, 200, 200);
    transition: transform 0.3s;
}
.site a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, serif;
    font-size: large;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    color: var(--course-color);
    width: fit-content;
    text-align:center;
    font-size: 18px;
}
.sites-ref:hover {
    transform: scale(1.02);
}
#div-site{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#div-site input{
    width: 200px;
    background-color: var(--BackColor);
}
@media (max-width: 890px) {

    .add-course input {
        width: 200px;
    }
    .course {
        flex-direction: column;
        align-items: flex-start;
    }
    .course .play-btn{
        margin-right: 25px;
    }
    .course .stop-btn{
        padding: 9px 19px 9px 19px;
        margin-right: 25px;
    }
    .add-notes-btn{
        padding: 9px 17px 9px 17px;
        margin-right: 25px;
    }
    .course h3 {
        margin-bottom: 10px;
        max-width: 100%;
    }
    .time-info{
        width: 100%;
    }
    table{
        font-size: 14px;
    }
    .close-course{
        padding: 0;
        translate: -6px -36px; ;
    }
    #div-site{
        flex-direction: column;
    }
    #div-site input{
        max-width: 150px;
    }
}

@media (max-width: 570px) {
    .container {
        margin: 0;
        padding: 40px 25px 25px 25px;
        border-radius: 0;
        border: none;
    }
    .add-course input {
        width: 200px;
    }
    .course .play-btn{
        padding: 6px 12px 6px 12px;
        margin-right: 8px;
    }
    .course .stop-btn{
        width: fit-content;
        padding: 6px 12px 6px 12px;
        margin-right: 8px;
    }
    .add-notes-btn{
        width: fit-content;
        padding: 6px 10px 6px 10px;
        margin-right: 8px;
    }
    .time {
        font-size: large;
        margin: 0;
    }
    .close-course{
        padding: 0;
        translate: -6px -36px; ;
    }
    .course {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 13px;
        box-shadow: 0px 0px 0px var(--shadow-color);
    }

    .course h3 {
        margin-bottom: 10px;
        max-width: 100%;
    }
    .time-info{
        width: 100%;
    }
    #popupButton{
        font-size: 25px;
        padding: 0px 18px 0px 18px;
    }
    #link-mail{
        font-size:6px;
        color:rgb(122, 122, 122);
        text-decoration: none;
    }
    table{
        font-size: 11px;
        padding-left: 0;
        padding-right: 0;
    }
    table th{
        font-size: 11px;
        padding: 10px 5px;
        width: 24%;
    }
    table td{
        font-size: 11px;
        padding: 10px 5px;
        width: 24%;
    }
    #timeChart{
        transform: scale(1);
        margin-bottom: 30px;
        margin-top: 20px;
    }
}
