body {
    font-family: Arial, sans-serif;
    background-color: #efefef;
    color: #333;
    margin: 0;
    padding: 0;
}
.notes-container{
    display: flex;
    flex-direction: column;
    max-height: 30px;
    border: 1px solid #cecece;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    font-size: small;
    overflow: auto;
}
.container {
    max-width: 800px;
    margin: 50px  auto;
    padding: 45px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.add-course {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.add-course input {
    width: 300px;
    padding: 10px;
    border: 2px solid #adadad;
    border-radius: 4px;
    font-size: small;
}

.add-course button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #28a745;
    transition: transform 0.3s ease;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}

.add-course button:hover {
    background-color:  #2ab54b;
    transform: scale(1.04);
}
.add-course button:active {
    transform: scale(1);
}

.course {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
    padding: 5px 10px 5px 15px;
    border: 1px solid #adadad;
    border-radius: 4px;
    background-color: #fff;
}

.course h3 {
    margin: 5px 0px 5px 0px;
    max-width: 50%;
}

.course button:active {
    transform: scale(0.98);
}

.course .play-btn {
    padding: 7px 17px;
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.course .stop-btn {
    padding: 7px 17px;
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #dc3545;
    color: white;
    font-weight: bold;
}

.course .play-btn:hover {
    background-color: #3496ff;
    transform: scale(1.04);
}

.course .stop-btn:hover {
    background-color:  #fd4154;
    transform: scale(1.04);
}
.course .play-btn:active {
    transform: scale(1);
}

.course .stop-btn:active {
    transform: scale(1);
}

.total-time {
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 20px;
}
.add-notes-btn{
    padding: 7px 15px;
    margin-right: 20px;
    margin-top: 6px;
    margin-bottom: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #f8be0f;
    color: white;
    font-weight: bold;
}
.add-notes-btn:hover {
    background-color: #ffca2c;
    transform: scale(1.04);
}
.add-notes-btn:active {
    transform: scale(1);
}
.course div {
    position: relative;
}
#popupButton{
    margin: 15px;
    padding: 5px 12px 5px 12px;
    border: none;
    font-size: medium;
    transition: transform 0.3s ease;
    background-color: #d3d3d3;
    /*color: white;*/
    border-radius: 5px;
    cursor: pointer;
}
#popupButton:hover {
    background-color: #c1c1c1;
    transform: scale(1.06);
}
#popupButton:active {
    transform: scale(1);
}
.course .time:hover + .percentage-popup {
    display: block;
}
.custom-alert {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.custom-alert-content {
    background-color: #fefefe;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    position: relative;

}
.close-course{
    background: white;
    border: none;
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    padding: 2px 5px 0px 5px;
    top: 0px;
}
.close-course:hover,
.close-course:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.close {
    color: #aaa;
    float: right;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;
    top: 0px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#alertMessage {
    color: #2762a0;
}
.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

@media (max-width: 600px) {
    .add-course input {
        width: 200px;
    }

    .course {
        flex-direction: column;
        align-items: flex-start;
    }

    .course h3 {
        margin-bottom: 10px;
    }
}